<h1>REACTIVE FORM</h1>

<div class="container">
  <div class="row">
    <div class="form-bg">
      <form [formGroup]='signup' (ngSubmit)='postdata(signup)'>
        <div class="form-group">
          <input type='text' formControlName='fname' placeholder="FIRST NAME" >
        </div>
        <div class="form-group">
          <input type='text' formControlName='lname' placeholder="Last name">
        </div>
        <div class="form-group">
          <input type='text' formControlName='email' placeholder="Email">
        </div>
        <div class="form-group">
          <input type='password' formControlName='password' placeholder="password">
        </div>
        <div>
          <button type="submit" id="postdata" [disabled]='!signup.valid'>submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

