<p>dynamic-row works!</p>
<form [formGroup]="form">
   <div class="container">
    <div class="row">
      <div class="form-bg">
        <div formGroupName="itemRows">
          <div>
            Form details
          </div>
        <ng-container *ngIf="form.controls.itemRows!=null">
          <div *ngFor="let item of form.controls.itemRows.controls; let i=index" [formGroupName]="i">
            <div class="row">
              <div class="col-md-2 form-group">
              <input matInput placeholder="name" formControlName="name">
            </div>
            <div class="col-md-2 form-group">
              <input matInput placeholder="roll" formControlName="roll">
            </div>
            <div class="col-md-2 form-group">
              <input matInput placeholder="class" formControlName="class">
            </div>
            <div class="col-md-2 form-group">
              <input matInput placeholder="mobile no" formControlName="mobile">
            </div>
            <div class="col-md-2 form-group">
              <button (click)="delete(i)">Remove</button>
            </div>
            </div>
          </div>
        </ng-container>

        <div class="form-group">
          <button type="button" (click)="Addnew()">add more</button>
        </div>
      </div>
    </div>
    </div>
   </div>
</form>
